*{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

body {
    background-color: #FFECD1;
}

#display {
    background-color: #001524;
    border: transparent;
    color: white;
    width: 90%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 50px;
}

#key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#numberKey {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    background-color: #83C5BE;
    border: transparent;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
}